body {
    display: flex;
    width: 100%;
    background-color: #e9ebef;
    flex-direction: column;
    font-family: sans-serif;
}

#nav-right {
    display: flex;
    position: absolute;
    right: 15px;
    align-items: center;
}

#nav-right input {
    border: 1px solid black;
    border-radius: 3px;
    background-color: #006cbd;
    color: white;
    height: 35px;
    width: 100px;
    box-shadow: 0 1px 1px gray;
    font-size: 16px;
    cursor: pointer;
    opacity: 0.85;
    transition: opacity 0.3s;
}

#nav-right input:hover {
    opacity: 0.9;
}

#nav-texts {
    margin-right: 5px;
    line-height: 5px;
    font-size: 12px;
}

#intuit {
    color: #82858b;
    margin-top: 100px;
    margin: 20px auto;
}

#intuit > p {
    font-size: 36px;
    font-family: fantasy;
    font-weight: bolder;
    margin-bottom: 10px;
}

#intuit img {
    position: relative;
    top: 5px;
    width: 20px;
}

#icons {
    margin-bottom: 0;
}

#icons p {
    display: inline-block;
    margin: 0;
}

#form-area {
    margin: 0 auto 50px auto;
    display: block;
    width: 380px;
    justify-self: center;
    border: 1px solid #c7c7c7;
    background-color: white;
    color: #4c4c4c;
    
}
#inner-form{padding: 30px;}
#form-area h1 {
    font-weight: normal;
    margin: 0;
}

#form-area form label, #form-area form label input {
    display: block;
}

#form-area form label {
    margin: 30px 0;
}

#form-area form input {
    width: 100%;
    margin-top: 10px;
    height: 30px;
    border: 1px solid rgb(167, 167, 167);
    border-radius: 3px;
}

#form-area form input[type="submit"]{
    border: none;
    background-color: #006cbd;
    color: white;
    height: 45px;
    box-shadow: 0 1px 1px gray;
    font-size: 16px;
    cursor: pointer;
    opacity: 0.85;
    transition: opacity 0.3s;
}

#form-area form input[type="submit"]:hover {
    opacity: 0.9;
}

#form-area p, #form-area span {
    margin-top: 6px;
    font-size: 10px;
}

p#form-footer {
    font-style: italic;
    font-size: 13px;
    line-height: 18px;
    margin-top: 40px;
    padding: 0 30px;
}

.center {
    text-align: center;
}

#recaptcha {
    display: flex;
    background-color:#ECEEF1;
    padding: 25px;
    font-size: 11px;
    color: #8d9096;

}
#legal p {color:gray; font-size:14px; margin:5px 0;}
#legal p span{margin:0 15px;}